h1 {
	text-align: center;
	font-family: arial;
	text-decoration: underline;
	font-size: 20px;
}

.para {
	font-family: arial, helvetica, sans-serif;
	font-size: 14px;
	margin: auto;
	display: table;
	max-width:800px;
	min-width:1px;
}

#gdp_div {
	display: table;
	margin: 0 auto;
	width:1000px;
}
